body {
  font-family: "Arial", sans-serif;
}

.photo {
  border-color: gray;
  border-width: 10;
}

.bimg {background-image: url("http://lorelleteaches.files.wordpress.com/2012/08/seamless-background-image-tile.jpg?w=584");
}
